<div class="row pa-row-container {{ settings.class }}" id="{{ settings.id }}" data-uniqueid="{{ settings.specifix_id }}">
	<div class="row-inner pa-row-container-inner{{ settings.layout == 'wide' ? ' pa-container' : '' }}">
		{{ content }}
	</div>
</div>