<a href="{{ settings.link }}" class="pa-element pa_single_image{{ settings.class ? [ ' ', settings.class ] | join() : '' }}">
	<img src="{{ settings.src }}" alt="{{ settings.alt }}" width="{{ settings.width }}" height="{{ settings.height }}" />
</a>