<div class="pa-row-container {{ settings.class }}" id="{{ settings.id }}" data-uniqid="{{ settings.specifix_id }}">
	<div class="pa-row-inner {{ settings.layout == 'boxed' ? 'container' : 'container-fullwidth' }}">
		{% if ( settings.background_video ) %}
			<div class="pa-bg-video" data-video="{{ settings.background_video }}"></div>
		{% endif %}
		<div class="row">
			{{ content }}
		</div>
	</div>
</div>