<script type="text/javascript">
	var PA_PARAMS = window.PA_PARAMS = {
		editLayoutURL 	: '{{ edit_layout_url }}',
		content 		: {{ layout.content|json_encode() }},
		element_fields 	: {{ element_fields|json_encode() }},
		element_mask 	: {{ element_mask|json_encode() }},
		animate_groups 	: {{ animate_groups|json_encode() }},
		animates 		: {{ animates|json_encode() }},
		site_url 		: '{{ site_url }}',
		languages 		: {{ languages }},
		user_token 		: '{{ user_token }}',
		elements 		: {{ elements|json_encode() }},
		devices 		: { 'laptop' : 'fa fa-laptop', 'tablet' : 'fa fa-tablet', 'mobile' : 'fa fa-mobile' },
		width_roles 	: {{ width_roles|json_encode() }}
	}
</script>
<script type="text/html" id="pa-modal-panel">
	<% if ( data.tabs.length ) { %>
		<ul class="nav nav-tabs">
			<% for ( var i = 0; i < data.tabs.length; i++ ) { %>
				<li<%= i == 0 ? ' class="active"' : '' %>><a href="#nav-<%= data.tabs[i].tab %>" data-toggle="tab" aria-expanded="true"><%= data.tabs[i].label %></a></li>
			<% } %>
		</ul>
		<div class="tab-content">
			<% for ( var i = 0; i < data.tabs.length; i++ ) { %>
				<div id="nav-<%= data.tabs[i].tab %>" class="tab-pane<%= i == 0 ? ' active' : '' %>"></div>
			<% } %>
		</div>
	<% } %>
</script>
<script type="text/html" id="pa-animate-form-field">
	<div class="form-group text-center">
		<div id="animate-preview" class="animated">
			<h1>{{ heading_title }}</h1>
		</div>
	</div>
</script>
<script type="text/html" id="pa-select-form-field">
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<select name="<%= data.field.name %>" id="<%= data.field.id ? data.field.id : data.field.name %>" class="form-control">
				<% if ( data.field.groups ) { %>
					<% _.each( data.field.options, function( options, name ) { %>
						<optgroup label="<%= name %>">
							<% _.each( options, function( label, val ){ %>
								<option value="<%= val %>"<%= val == data.settings[data.field.name] ? ' selected' : '' %>><%= label %></option>
							<% }) %>
						</optgroup>
					<% }); %>
				<% } else { %>
					<% _.each( data.field.options, function( f ) { %>
						<option value="<%= f.value %>"<%= f.value == data.settings[data.field.name] ? ' selected' : '' %>><%= f.label %></option>
					<% }); %>
				<% } %>
			</select>
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-text-form-field">
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<input type="text" name="<%= data.field.name %>" id="<%= data.field.name %>" value="<%= data.settings[data.field.name] %>" class="form-control" />
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-number-form-field">
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<input type="number" step="<%= data.field.step %>" min="<%= data.field.min %>" max="<%= data.field.max %>" name="<%= data.field.name %>" id="<%= data.field.name %>" value="<%= data.settings[data.field.name] %>" class="form-control" />
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-checkbox-form-field">
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<label class="checkbox-inline">
				<input type="hidden" name="<%= data.field.name %>" value="0" class="form-control" />
				<input type="checkbox" name="<%= data.field.name %>" id="<%= data.field.name %>" value="1" class="form-control"<%= data.settings[data.field.name] == 1 ? ' checked' : '' %>/>
			</label>
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-radio-form-field">
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<% _.each( data.field.options, function( value ) { %>
				<label class="radio-inline">
					<input type="radio" name="<%= data.field.name %>" value="<%= value.value %>" <%= data.settings[data.field.name] == value.value ? ' checked' : '' %>/> <%= value.label %>
			    </label>
			<% } ); %>
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-colorpicker-form-field">
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<input type="text" name="<%= data.field.name %>" value="<%= data.settings[data.field.name] %>" class="pa-colorpicker-input"/>
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-image-form-field">
	<% var uniqid = new Date().getTime() %>
	<%
		var image = '';
		if ( data.settings[data.field.name] !== undefined ) {
			var lastIndex = new File( [''], data.settings[data.field.name] ).name.lastIndexOf('.');
			var name = data.settings[data.field.name].slice( 0, lastIndex );
			var ext = data.settings[data.field.name].slice( lastIndex );
			image = PA_PARAMS.site_url + 'image/cache/' + name + '-100x100' + ext;
		}
	%>
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<a href="#" id="thumb-<%= uniqid %>" data-toggle="image" class="img-thumbnail" data-original-title="" title="">
				<img src="<%= image %>" />
			</a>
            <input type="hidden" name="<%= data.field.name %>" value="<%= data.settings[data.field.name] %>" id="input-<%= uniqid %>">
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-map-preview-form-field">
	<div class="form-group">
		<div class="col-sm-12">
			<div class="pa-google-map-wrapper">
				<input name="place_name" value="<% data.settings.place_name %>" placeholder="{{ entry_enter_place_text }}" class="form-control" />
				<div class="pa-google-map"></div>
				<input type="hidden" name="lat" value="<%= data.settings.lat %>" />
				<input type="hidden" name="lng" value="<%= data.settings.lng %>" />
			</div>
		</div>
	</div>
</script>
<script type="text/html" id="pa-layout-onion-form-field">
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<div class="pa-layout-onion">
				<div class="margin">
					<input type="number" class="top" step="any" name="<%= data.field.name %>[margin_top]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].margin_top != undefined ? data.settings[data.field.name].margin_top : '' %>" />
					<input type="number" class="right" step="any" name="<%= data.field.name %>[margin_right]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].margin_right != undefined ? data.settings[data.field.name].margin_right : '' %>" />
					<input type="number" class="bottom" step="any" name="<%= data.field.name %>[margin_bottom]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].margin_bottom != undefined ? data.settings[data.field.name].margin_bottom : '' %>" />
					<input type="number" class="left" step="any" name="<%= data.field.name %>[margin_left]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].margin_left != undefined ? data.settings[data.field.name].margin_left : '' %>" />
					<div class="border">
						<input type="number" class="top" step="any" name="<%= data.field.name %>[border_top]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].border_top != undefined ? data.settings[data.field.name].border_top : '' %>" />
						<input type="number" class="right" step="any" name="<%= data.field.name %>[border_right]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].border_right != undefined ? data.settings[data.field.name].border_right : '' %>" />
						<input type="number" class="bottom" step="any" name="<%= data.field.name %>[border_bottom]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].border_bottom != undefined ? data.settings[data.field.name].border_bottom : '' %>" />
						<input type="number" class="left" step="any" name="<%= data.field.name %>[border_left]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].border_left != undefined ? data.settings[data.field.name].border_left : '' %>" />
						<div class="padding">
							<input type="number" class="top" step="any" name="<%= data.field.name %>[padding_top]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].padding_top != undefined ? data.settings[data.field.name].padding_top : '' %>" />
							<input type="number" class="right" step="any" name="<%= data.field.name %>[padding_right]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].padding_right != undefined ? data.settings[data.field.name].padding_right : '' %>" />
							<input type="number" class="bottom" step="any" name="<%= data.field.name %>[padding_bottom]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].padding_bottom != undefined ? data.settings[data.field.name].padding_bottom : '' %>" />
							<input type="number" class="left" step="any" name="<%= data.field.name %>[padding_left]" value="<%= data.settings[data.field.name] && data.settings[data.field.name].padding_left != undefined ? data.settings[data.field.name].padding_left : '' %>" />
							<div class="content"></div>
						</div>
					</div>
				</div>
			</div>
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-editor-form-field">
	<% var uniqid = new Date().getTime() + '-' + data.field.name; %>
	<div class="form-group">
		<label class="col-sm-2 control-label"><%= data.field.label %></label>
		<div class="col-sm-10">
			<textarea id="<%= uniqid %>" name="<%= data.field.name %>" class="form-control pa-editor" data-toggle="summernote"><% print( _.unescape( data.settings[data.field.name] ) ) %></textarea>
			<% if ( data.field.desc ) { %>
				<p style="font-style: italic"><%= data.field.desc %></p>
			<% } %>
		</div>
	</div>
	<script type="text/javascript">
		( function($) {
			$( document ).ready( function() {
				$( '.pa-editor' ).summernote({
					height: 200
				});
			} );
		} )( jQuery );
	</script>
</script>
<script type="text/html" id="pa-responsive-form-field">
	<% var settings = data.settings[data.field.name] ? data.settings[data.field.name] : {}; %>
	<table class="pa-table table table-striped">
		<thead>
			<tr>
				<th class="text-center">{{ entry_device_text }}</th>
				<th>{{ entry_width_text }}</th>
				<th class="text-center">{{ entry_hide_text }}</th>
			</tr>
		</thead>
		<tbody>
			<% _.each( PA_PARAMS.devices, function( name, value ){ %>
				<tr>
					<td class="text-center"><span class="<%= name %>"></span></td>
					<td>
						<select name="<%= data.field.name %>[<%= value %>][cols]" class="form-control">
							<% _.each( PA_PARAMS.width_roles, function( text, cols ) { %>
								<option value="<%= cols %>"<%= settings[value] !== undefined && cols == settings[value].cols ? ' selected' : '' %>><%= text %></option>
							<% } ) %>
						</select>
					</td>
					<td class="text-center">
						<div class="checkbox">
							<input type="hidden" name="<%= data.field.name %>[<%= value %>][hide]" value="0" />
							<input type="checkbox" name="<%= data.field.name %>[<%= value %>][hide]" value="1"<%= settings[value] !== undefined && settings[value].hide == 1 ? ' checked' : '' %>/>
						</div>
					</td>
				</tr>
			<% } ) %>
		</tbody>
	</table>
</script>
<script type="text/html" id="pa-edit-form-template">
	<div id="pa-inspector" class="modal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title text-info"><i class="fa fa-pencil"></i> <%= data.edit_title %></h4>
				</div>
				<div class="modal-body">
			  		<form method="POST" class="form-horizontal" id="pa-edit-form-settings">
			  			<div class="loading text-center">
			  				<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			  			</div>
			  		</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger pa-close" aria-hidden="true">{{ entry_cancel_text }}</button>
					<button type="button" class="btn btn-info pa-update" aria-hidden="true" form="pa-edit-form-settings">{{ entry_update_text }}</button>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/html" id="pa-elements-panel">
	<div id="pa-elements-list" class="pa-elements-list elements-panel modal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title text-info"><i class="fa fa-exclamation-triangle"></i> {{ entry_add_element_text }}</h4>
				</div>
				<div class="modal-body">
					{% if ( groups ) %}
						<ul class="nav nav-tabs">
							<li class="active"><a href="#nav-elements-all" data-toggle="tab" aria-expanded="true">{{ entry_all_text }}</a></li>
					  		{% for tab in groups %}
					  			<li><a href="#nav-{{ tab.slug }}" data-toggle="tab" aria-expanded="true">{{ tab.name }}</a></li>
					  		{% endfor %}
			  			</ul>
				  		<div class="tab-content">
				  			<div id="nav-elements-all" class="tab-pane active"></div>
				  			{% for tab in groups %}
				  				<div id="nav-{{ tab.slug }}" class="tab-pane">
					  				{% for element in elements %}
					  					{% if ( element.group_slug == tab.slug and element.widget != 'pa_column' ) %}
					  						<div class="pa-col-sm-3">
						  						{% if ( element.type == 'widget' and element.widget ) %}
													<a href="#"  class="element element-item element-item-{{ element.code ? element.code : element.widget }}" data-widget="{{ element.widget }}">
														<i class="{{ element.icon }}"></i>
														<span>{{ element.name }}</span>
													</a>
												{% else %}
													<a href="#" class="element element-item element-item-{{ element.code ? element.code : '' }}" data-element_type="module" data-group="{{ tab.slug }}" data-module-id="{{ element.module_id }}" data-module-code="{{ element.code }}" data-mask="{{ element | json_encode() | escape }}">
							  							<i class="{{ element.icon }}"></i>
							  							<span>{{ element.name }}</span>
							  							<code>{{ element.code }}.{{ element.module_id }}</code>
							  						</a>
												{% endif %}
					  						</div>
					  					{% endif %}
					  				{% endfor %}
				  				</div>
				  			{% endfor %}
				  		</div>
		  			{% endif %}
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/html" id="pa-row-template">
	<div class="pa-row-container row-fade-in" data-element="<%= data.settings.element %>" data-cid="<%= data.cid %>">
		<div class="pa-controls row-controls">
			<div class="left-controls pull-left">
				<a href="#" class="pa-edit pa-edit-row" title="{{ entry_edit_row_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<a href="#" class="pa-clone pa-clone-row" title="{{ entry_clone_row_text }}"><i class="fa fa-clone" aria-hidden="true"></i></a>
				<a href="#" class="pa-delete pa-delete-row" title="{{ entry_delete_row_text }}" data-confirm="{{ confirm_delete_row }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
			</div>
			<div class="right-controls pull-right">
				<a href="#" class="pa-reorder pa-reorder-row" title="{{ entry_reorder_text }}"><i class="fa fa-arrows" aria-hidden="true"></i></a>
			</div>
		</div>
		<ul class="pa-row-column-control">
			<li><a href="#" class="pa-add pa-add-column" title="{{ entry_add_column_text }}"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
			<ul class="pa-actions-hidden">
				<li>
					<a href="#" class="pa-edit-column-num" title="{{ entry_add_column_text }}" data-columns="1">1</a>
				</li>
				<li>
					<a href="#" class="pa-edit-column-num" title="{{ entry_add_column_text }}" data-columns="2">2</a>
				</li>
				<li>
					<a href="#" class="pa-edit-column-num" title="{{ entry_add_column_text }}" data-columns="3">3</a>
				</li>
				<li>
					<a href="#" class="pa-edit-column-num" title="{{ entry_add_column_text }}" data-columns="4">4</a>
				</li>
			</ul>
		</ul>
		<div class="pa-element-wrapper">
			<div class="pa-row pav-row-container"></div>
		</div>
	</div>
</script>
<script type="text/html" id="pa-column-template">
	<div class="pa-column <%= data.settings.class %>" style="<%= data.settings.styles !== undefined && data.settings.styles.width !== undefined ? 'width:' + data.settings.styles.width + '%' : '' %>" data-element="<%= data.settings.element %>" data-cid="<%= data.cid %>" data-editabled="<%= data.editabled %>">
		<div class="pa-controls column-controls top">
			<a href="#" class="pa-add pa-add-element" title="{{ entry_add_element_text }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
			<a href="#" class="pa-edit pa-edit-column" title="{{ entry_edit_column_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
			<a href="#" class="pa-delete pa-delete-column" title="{{ entry_delete_column_text }}" data-confirm="{{ confirm_delete_column }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
		</div>
		<div class="pa-element-wrapper">
			<div class="pa-column-container"></div>
		</div>
		<div class="pa-controls column-controls bottom">
			<a href="#" class="pa-add pa-add-element" title="{{ entry_add_element_text }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
		</div>
	</div>
</script>
<script type="text/html" id="pa-element-template">
	<div class="pa-element-content<%= data.element ? ' ' + data.element : '' %>" data-cid="<%= data.cid %>" data-confirm="{{ confirm_element_column }}">
		<div class="pa-controls element-controls">
			<a href="#" class="pa-reorder" title="{{ entry_reorder_text }}"><i class="fa fa-arrows" aria-hidden="true"></i></a>
			<a href="#" class="pa-edit" title="{{ entry_edit_element_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
			<a href="#" class="pa-clone" title="{{ entry_clone_element_text }}"><i class="fa fa-clone" aria-hidden="true"></i></a>
			<a href="#" class="pa-delete" title="{{ entry_delete_element_text }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
		</div>
		<div class="pa-element-wrapper">
			<% if ( data.widget !== undefined ) { %>
				<a href="#" class="element element-item">
					<i class="<%= data.icon %>"></i>
					<span><%= data.label %></span>
					<% if ( data.code !== undefined ) { %>
							<code><%= data.code %>.<%= data.module_id %></code>
					<% } %>
				</a>
			<% } else { %>
				<a href="#" class="element element-item element-item-<%= data.mask.code != undefined ? data.mask.code : '' %>">
					<i class="<%= data.mask.icon %>"></i>
					<span><%= data.mask.name %></span>
					<% if ( data.mask.type == 'widget' || data.mask.widget ) { %>
						<code><%= data.mask.widget %></code>
					<% } else if ( data.mask.code !== undefined ) { %>
						<code><%= data.mask.code %>.<%= data.mask.module_id %></code>
					<% } %>
				</a>
			<% } %>
		</div>
	</div>
</script>
<script type="text/html" id="pa-loading-template">
	<div id="pa-loading">
		<div id="loading-inner">
			<div id="loader" class="loading"></div>
			<span>{{ waiting_text }}</span>
		</div>
	</div>
</script>