{{ header }}

  	{# start admin panel left sidebar #}
  	{{ column_left }}
  	{# end admin panel left sidebar #}

  	{# start pavo builder control #}
  	<div id="content">

	    <div class="page-header">
	      	<div class="container-fluid">
		        <h1><b>{{ heading_title }}</b></h1>
		        <ul class="breadcrumb">
		          	{% for breadcrumb in breadcrumbs %}
		            	<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		          	{% endfor %}
		        </ul>
		        <div class="pull-right">
		        	<button type="submit" form="form-banner" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="{{ entry_save_text }}"><i class="fa fa-save"></i></button>
		        	{% if ( layout_id ) %}
        				<button type="button" data-toggle="tooltip" title="" class="btn btn-danger" onclick="confirm( '{{ entry_confirm_delete }}' ) ? $('#pavohomebuilder-layout-edit').submit() : false;" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
        			{% endif %}
		        </div>
	      	</div>
	    </div>

	    <div class="container-fluid">

	      	{% if notices %}
	        	{% for i, notice in notices %}
	          		{{ notice }}
	        	{% endfor %}
	      	{% endif %}

	      	<div class="panel panel-default">
		        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-exchange"></i> {{ layout_id ? entry_edit_text : entry_add_new_text }}</h3></div>
		        <div class="panel-body">
		          	<form id="pavohomebuilder-layout-edit" class="form-horizontal" enctype="multipart/form-data">
		            	<div class="form-group">
		            		<label class="col-sm-2 control-label" for="input-name">{{ entry_module_name }}</label>
		            		<div class="col-sm-10">
		            			<input type="text" name="name" value="{{ layout.name }}" placeholder="{{ entry_module_name }}" id="input-name" class="form-control" />
		            		</div>
		            	</div>
		            	<div class="form-group">
		            		<label class="col-sm-2 control-label" for="status">{{ entry_status_text }}</label>
		            		<div class="col-sm-10">
		            			<select name="status" id="input-status" class="form-control">
	                                <option value="1" selected="selected">{{ entry_enabled_text }}</option>
	                				<option value="0">{{ entry_disabled_text }}</option>
                              </select>
		            		</div>
		            	</div>
		            	<div class="form-group">
		            		<h4 class="text-center">{{ entry_layout_editor }}</h4>
		            	</div>

		            	<div id="pavobuilder-container">
			            	<div id="pavobuilder-content">
			            		<div class="pavo-row pavo-row-container" data-element="row">
			            			<div class="pavo-controls row-controls"></div>
			            			<div class="pavo-element-wrapper"></div>
			            		</div>
			            	</div>
			            	<div id="pavobuilder-footer">
			            		<a href="#" id="pavobuilder-add-element" class="">{{ entry_add_element_text }}</a>
			            	</div>
		            	</div>
		          	</form>
		        </div>
	      	</div>

	    </div>
  	</div>
  	{# end pavo builder control #}

{{ footer }}