{{ header }}

  	{# start admin panel left sidebar #}
  	{{ column_left }}
  	{# end admin panel left sidebar #}

  	{# start pavo builder control #}
  	<div id="content">

	    <div class="page-header">
	      	<div class="container-fluid">
		        <h1><b>{{ heading_title }}</b></h1>
		        <ul class="breadcrumb">
		          	{% for breadcrumb in breadcrumbs %}
		            	<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		          	{% endfor %}
		        </ul>
		        <div class="pull-right">
		        	<button type="submit" form="form-banner" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="{{ entry_save_text }}"><i class="fa fa-save"></i></button>
		        	{% if ( layout_id ) %}
        				<button type="button" data-toggle="tooltip" title="" class="btn btn-danger" onclick="confirm( '{{ entry_confirm_delete }}' ) ? $('#pavohomebuilder-layout-edit').submit() : false;" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
        			{% endif %}
		        </div>
	      	</div>
	    </div>

	    <div class="container-fluid">

	      	{% if notices %}
	        	{% for i, notice in notices %}
	          		{{ notice }}
	        	{% endfor %}
	      	{% endif %}

	      	<div class="panel panel-default">
		        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-exchange"></i> {{ layout_id ? entry_edit_text : entry_add_new_text }}</h3></div>
		        <div class="panel-body">
		          	<form id="pavohomebuilder-layout-edit" class="form-horizontal" enctype="multipart/form-data">
		            	<div class="form-group">
		            		<label class="col-sm-2 control-label" for="input-name">{{ entry_module_name }}</label>
		            		<div class="col-sm-10">
		            			<input type="text" name="name" value="{{ layout.name }}" placeholder="{{ entry_module_name }}" id="input-name" class="form-control" />
		            		</div>
		            	</div>
		            	<div class="form-group">
		            		<label class="col-sm-2 control-label" for="status">{{ entry_status_text }}</label>
		            		<div class="col-sm-10">
		            			<select name="status" id="input-status" class="form-control">
	                                <option value="1" selected="selected">{{ entry_enabled_text }}</option>
	                				<option value="0">{{ entry_disabled_text }}</option>
                              </select>
		            		</div>
		            	</div>
		            	<div class="form-group">
		            		<h4 class="text-center">{{ entry_layout_editor }}</h4>
		            	</div>

		            	<div id="pa-container">
			            	<div id="pa-content">

			            		{# <div class="pa-row-container" data-element="pv_row">
			            			<div class="pa-controls row-controls">
			            				<div class="left-controls pull-left">
			            					<a href="#" class="pa-edit pa-edit-row" title="{{ entry_edit_row_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
											<a href="#" class="pa-clone pa-clone-row" title="{{ entry_clone_row_text }}"><i class="fa fa-clone" aria-hidden="true"></i></a>
											<a href="#" class="pa-delete pa-delete-row" title="{{ entry_delete_row_text }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
			            				</div>
			            				<div class="right-controls pull-right">
			            					<a href="#" class="pa-reorder" title="{{ entry_reorder_text }}"><i class="fa fa-arrows" aria-hidden="true"></i></a>
			            				</div>
			            			</div>
			            			<div class="pa-element-wrapper">
			            				<div class="pa-row pav-row-container">
			            					<div class="pa-column pa-col-sm-6" data-element="pv_column">
			            						<div class="pa-controls column-controls">
					            					<a href="#" class="pa-add add-element" title="{{ entry_add_element_text }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
			            							<a href="#" class="pa-edit edit-element" title="{{ entry_edit_column_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
					            					<a href="#" class="pa-delete delete-column" title="{{ entry_delete_column_text }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
			            						</div>
			            						<div class="pa-element-wrapper">
			            							<div class="pa-column-container">
			            								<div class="pv_text pa-element-content" data-element="pv_text">
			            									<div class="pa-controls element-controls">
			            										<a href="#" class="pa-reorder" title="{{ entry_reorder_text }}"><i class="fa fa-arrows" aria-hidden="true"></i></a>
			            										<a href="#" class="pa-edit" title="{{ entry_edit_element_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								            					<a href="#" class="pa-clone" title="{{ entry_clone_element_text }}"><i class="fa fa-clone" aria-hidden="true"></i></a>
								            					<a href="#" class="pa-delete" title="{{ entry_delete_element_text }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
			            									</div>
			            									<div class="pa-element-wrapper">
			            										<p>
			            											I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
			            										</p>
			            									</div>
			            								</div>
			            							</div>
			            						</div>
			            					</div>
			            					<div class="pa-column pa-col-sm-6" data-element="pv_column">
			            						<div class="pa-controls column-controls">
					            					<a href="#" class="pa-add pa-add-element" title="{{ entry_add_element_text }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
													<a href="#" class="pa-edit pa-edit-column" title="{{ entry_edit_column_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						        					<a href="#" class="pa-delete pa-delete-column" title="{{ entry_delete_column_text }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
			            						</div>
			            						<div class="pa-element-wrapper">
			            							<div class="pa-column-container empty-element"></div>
			            						</div>
			            					</div>
			            				</div>
			            			</div>
			            		</div> #}
			            	</div>
			            	<div id="pa-footer">
			            		<div class="pa-buttons">
			            			<a href="#" id="pa-add-element" class="pa-add-element pa-button pa-button-info"><i class="fa fa-plus" aria-hidden="true"></i> {{ entry_add_element_text }}</a>
			            		</div>
			            	</div>
		            	</div>
		          	</form>
		        </div>
	      	</div>

	    </div>
  	</div>
  	{# end pavo builder control #}

  	<script type="text/javascript">
  		var PA_VARS = window.PA_VARS = '{{ languages }}';
  	</script>

  	<script type="text/html" id="pa-edit-row-template">
  		<div id="pa-inspector" class="modal">
  			<div class="modal-dialog">
  				<div class="modal-content">
  					<div class="modal-header">
  						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        				<h4 class="modal-title text-info"><i class="fa fa-exclamation-triangle"></i> {{ entry_edit_row_text }}</h4>
  					</div>
  					<div class="modal-body">
				  		<form method="POST" class="form-horizontal">
				  			<ul class="nav nav-tabs">
				  				<li class="active"><a href="#nav-row-general" data-toggle="tab" aria-expanded="true">General</a></li>
				  				<li><a href="#nav-row-animate" data-toggle="tab" aria-expanded="true">Animate</a></li>
				  			</ul>
				  			<div class="tab-content">
				  				<div id="nav-row-general" class="tab-pane active">
				  					<div class="form-group">
				  						<label class="col-sm-2 control-label">Row ID</label>
				  						<div class="col-sm-10">
				  							<input name="settings[id]" value="" class="form-control"/>
				  						</div>
				  					</div>
				  					<div class="form-group">
				  						<label class="col-sm-2 control-label">Layout</label>
				  						<div class="col-sm-10">
				  							<select name="settings[layout]" class="form-control">
				  								<option value="wide">Wide</option>
				  								<option value="boxed">Boxed</option>
				  							</select>
				  						</div>
				  					</div>
				  				</div>
				  				<div id="nav-row-animate" class="tab-pane">
				  					<div class="form-group">
				  						<label class="col-sm-2 control-label">Row ID</label>
				  						<div class="col-sm-10">
				  							<input name="settings[id]" value="" class="form-control"/>
				  						</div>
				  					</div>
				  					<div class="form-group">
				  						<label class="col-sm-2 control-label">Layout</label>
				  						<div class="col-sm-10">
				  							<select name="settings[layout]" class="form-control">
				  								<option value="wide">Wide</option>
				  								<option value="boxed">Boxed</option>
				  							</select>
				  						</div>
				  					</div>
				  				</div>
				  			</div>
				  		</form>
  					</div>
  					<div class="modal-footer">
  						<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">{{ entry_cancel_text }}</button>
  						<button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">{{ entry_update_text }}</button>
  					</div>
  				</div>
  			</div>
  		</div>
  	</script>

  	<script type="text/html" id="pa-elements-panel">
  		<div id="pa-elements-list" class="pa-elements-list elements-panel modal">
  			<div class="modal-dialog">
  				<div class="modal-content">
  					<div class="modal-header">
  						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        				<h4 class="modal-title text-info"><i class="fa fa-exclamation-triangle"></i> {{ entry_add_element_text }}</h4>
  					</div>
  					<div class="modal-body">
  						{% if ( groups ) %}
  							<ul class="nav nav-tabs">
  								<li class="active"><a href="#nav-elements-all" data-toggle="tab" aria-expanded="true">{{ entry_all_text }}</a></li>
						  		{% for tab in groups %}
						  			<li class="active"><a href="#nav-{{ tab.slug }}" data-toggle="tab" aria-expanded="true">{{ tab.name }}</a></li>
						  		{% endfor %}
					  		</ul>
					  		<div class="tab-content">
					  			<div id="nav-elements-all" class="tab-pane active"></div>
					  			{% for tab in groups %}
					  				<div id="nav-{{ tab }}" class="tab-pane">
						  				{% for element in elements %}
						  					<div class="element element-item element-item-{{ item.code }}">
						  						<a href="#" data-group="{{ tab }}" data-element="{{ element.element }}" data-module-id="{{ element.module_id }}" data-module-code="{{ module.code }}" data-settings="{{ element.settings }}">
						  							<i class="{{ element.icon }}"></i>
						  							<span>{{ element.name }}</span>
						  							{% if ( element.code ) %}
						  								<code>{{ element.code }}</code>
						  							{% endif %}
						  						</a>
						  					</div>
						  				{% endfor %}
					  				</div>
					  			{% endfor %}
					  		</div>
				  		{% endif %}
  					</div>
  				</div>
  			</div>
  		</div>
  	</script>

  	<script type="text/html" id="pa-row-template">
		<div class="pa-row-container row-fade-in" data-element="pv_row" data-cid="<%= data.cid %>">
			<div class="pa-controls row-controls">
				<div class="left-controls pull-left">
					<a href="#" class="pa-edit pa-edit-row" title="{{ entry_edit_row_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
					<a href="#" class="pa-clone pa-clone-row" title="{{ entry_clone_row_text }}"><i class="fa fa-clone" aria-hidden="true"></i></a>
					<a href="#" class="pa-delete pa-delete-row" title="{{ entry_delete_row_text }}" data-confirm="{{ confirm_delete_row }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
				</div>
				<div class="right-controls pull-right">
					<a href="#" class="pa-reorder pa-reorder-row" title="{{ entry_reorder_text }}"><i class="fa fa-arrows" aria-hidden="true"></i></a>
				</div>
			</div>
			<ul class="pa-row-column-control">
				<li><a href="#" class="pa-add pa-add-column" title="{{ entry_add_column_text }}"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
				<ul class="pa-actions-hidden">
					<li>
						<a href="#" class="pa-edit-column-num" title="{{ entry_add_column_text }}">x</a>
					</li>
					<li>
						<a href="#" class="pa-edit-column-num" title="{{ entry_add_column_text }}">x</a>
					</li>
					<li>
						<a href="#" class="pa-edit-column-num" title="{{ entry_add_column_text }}">x</a>
					</li>
					<li>
						<a href="#" class="pa-edit-column-num" title="{{ entry_add_column_text }}">x</a>
					</li>
				</ul>
			</ul>
			<div class="pa-element-wrapper">
				<div class="pa-row pav-row-container"></div>
			</div>
		</div>
  	</script>

  	<script type="text/html" id="pa-column-template">
  		<div class="pa-column <%= data.settings.class %>" data-element="pv_column" data-cid="<%= data.cid %>" data-editabled="<%= data.editabled %>">
			<div class="pa-controls column-controls">
				<a href="#" class="pa-add pa-add-element" title="{{ entry_add_element_text }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
				<a href="#" class="pa-edit pa-edit-column" title="{{ entry_edit_column_text }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<a href="#" class="pa-delete pa-delete-column" title="{{ entry_delete_column_text }}" data-confirm="{{ confirm_delete_column }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
			</div>
			<div class="pa-element-wrapper">
				<div class="pa-column-container"></div>
			</div>
			<% if ( data.editabled ) { %>
				<div class="pa-column-resize"></div>
			<% } %>
		</div>
  	</script>

  	<script type="text/html" id="pa-element-template">
  		<div class="{{ data.element }} pa-element-content" data-element="{{ data.element }}">
  			<span>{{ data.name }}</span>
  			<code>{{ data.cid }}</code>
  		</div>
  	</script>

{{ footer }}