{{ header }}
<div id="pavotheme-customize-wrapper">

	<div role="navigation" id="main-control">
		<div class="panel-header">
			<header>
				<a href="#" class="btn btn-danger back">{{ text_back }}</a>
				<h4 class="btn theme-name">{{ themeName }}</h4>
				<a href="#" class="btn btn-primary save">{{ text_save }}</a>
			</header>
		</div>

		<div class="panel-control">

			<div class="accordion" id="accordion-main">
				{% set i = 0 %} {% for key, field in fields %}
					<div class="accordion-group panel panel-default" data-panel="{{ key }}">
						<div class="accordion-heading panel-heading">
							<a href="#{{ key }}-collapse-body" class="accordion-toggle" data-toggle="collapse" data-parent="accordion-main" aria-expanded="{{ i == 0 ? 'true' : 'false' }}">
								<div class="panel-body">{{ field.label }}</div>
							</a>
						</div>
						<div id="{{ key }}-collapse-body" class="accordion-body collapse{{ i == 0 ? ' in' : '' }}">
							{% for k, item in field.item %}

								{{ item.output }}

							{% endfor %}
						</div>
				  	</div>
				{% set i = i + 1 %} {% endfor %}
			</div>

		</div>
	</div>
	<iframe id="pavo-iframe" src="{{ iframeURI }}"></iframe>

</div>
<script type="text/javascript">
	var PavoCustomizeParams = window.PavoCustomizeParams = {{ PavoCustomizeParams }};
</script>
{# {{ footer }} #}