<div class="pa-column-container {{ settings.bootstrap_class }}" id="{{ settings.id }}" data-uniqid="{{ settings.specifix_id }}">
	<div class="pa-column-inner {{ settings.class }}">
		{{ content }}
	</div>
</div>